<h1 mat-dialog-title>Client </h1>
<mat-divider></mat-divider>

<div mat-dialog-content style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
  <mat-form-field appearance="fill">
    <mat-label class="formclientinput">Name: </mat-label>
    <input class="formclientinput" matInput [(ngModel)]="client.name" type="text" placeholder="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label class="formclientinput">Phone:</mat-label>
    <input class="formclientinput" matInput [(ngModel)]="client.phone" type="text" placeholder="phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label class="formclientinput">Email: </mat-label>
    <input class="formclientinput" matInput [(ngModel)]="client.symbol" type="text" placeholder="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label class="formclientinput">Date:&nbsp;&nbsp;</mat-label>
    <input class="formclientinput" matInput [(ngModel)]="client.added" type="text" placeholder="date">
  </mat-form-field>

  
</div>

<div mat-dialog-actions>
  <button  style="margin: 0 auto;" mat-button (click)="updateClick()">OK <mat-icon aria-label="Example Add icon">playlist_add</mat-icon></button>
  <!--<button mat-button [mat-dialog-close]="data.weight" cdkFocusInitial>Ok</button>-->
</div>
